body {
  border: 1px solid gray;
  padding: 8px;
  text-shadow: .5px .5px;
}
p {
  text-align: justify;
  letter-spacing: 2px;
  opacity:1;
  transition:opacity 500ms;
}
p.appear {
  background-color: #4CAF50;
  opacity:1;
  width: 350px;
  color: white;
  padding: 8px; 
}
p.disappear {
  opacity:0;
}
.label {
  color: white;
  padding: 8px;
}
.success {
  background-color: #4CAF50;
} 

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.alert {
  padding: 10px;
  background-color: #ff9800;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 10px;
  width: 200px;
}
.closebtn {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
